$font-family: 'Poppins';

.v-application {
    [class*='text-'] {
      font-family: $font-family, sans-serif !important;
    }
    font-family: $font-family, sans-serif !important;

    .v-btn {
        text-transform: capitalize;
    }
    .v-btn.v-size--x-large {
        font-size: 1.125rem;
        
        .v-icon {
            font-size: 24px;
        }
    }
    .v-dialog {
        border-radius: 12px;
        
        .modal-delete-title{
            font-size: 18px;
        }
        .modal-information-title{
            font-size: 16px;
        }
    }
    .pointer {
        cursor: pointer;
    }
}

.sk-appbar {
    .v-toolbar__title {
        font-weight: 700;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}

.v-main {
    background-color: #F4F4F4;
}

.content-wrapper {
    .page-title {
        color: #111111;
        font-size: 2.25rem;
        font-weight: 700;
    }
    .activity-card {
        border-radius: 12px;
        .card-content {
            height: 158px;

            .title {
                font-size: 18px;
                font-weight: 700;
                color: #111111;
            }
        }
        .footer-text {
            font-size: 0.875em;
            color: #888888;
            font-weight: 500;
        }
    }
}
